@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,600&family=Pacifico&display=swap');

body {
  margin: 0;
  font-family: Cabin;
  box-sizing: border-box;
  background-color: var(--color-bg-primary);
  transition: background 250ms ease-in;
}

body,
body[data-theme="light"] {
  --color-bg-primary: #222831;
  --color-bg-button: #EB5E55;
  --color-input-border: #EB5E55;
  --color-utility-btn-background: #2387EC;
  --color-bg-header: #6FD08C;
  --box-shadow: 0px 3px 3px 0px #00000017;
  --color-icon-border: #fbfbfb;
  --color-bg-secondary: #393E46;
  --color-income: #00BD9D;
  --color-expense: #ff1313;
  
  
  
  --color-text-primary: black;
  --color-text-secondary: #3c3c3c;
  --color-bg-toggle: #393E46;
  --color-text-toggle: #fff;
  --color-progress: #edf5fe;
  --color-bg-upload-hover: rgba(96,113,114,.1);
  --color-button-border: #00c2cb;
}
body[data-theme="dark"] {
  --color-bg-primary: #222831;
  --color-bg-secondary: #393E46;
  --color-text-primary: #fff;
  --color-text-secondary: rgb(215,215,215);
  --color-bg-toggle: #fff;
  --color-text-toggle: black;
  --color-progress: #6c6e6d;
  --color-button-border: #ff5757;
}


/* Bootstrap */
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.verticalDevider{
  height: 90%;
  border-right: 0.5px solid #fbfbfb;
}

.horizontalDevider{
  border-bottom: 1px solid #fbfbfb;
  width: 100%;
  max-width: 500px;
  margin: auto;
}