.container{
  height: 50px;
  /*background: var(--color-bg-header);*/
  background-image: linear-gradient(to left, #00c996, #00CDAC);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: sticky;
  box-shadow: var(--box-shadow);
  z-index: 2;
}

.left{
  margin-left: 15px;
  width: 50px;
  font-size: 30px;
  color: var(--color-icon-border);
  float: left;
}
.right{
  margin-right: 15px;
  width: 50px;
}
.avatar{
  height: 30px;
  width: 30px;
  background: #cdcccc;
  border-radius: 50%;
  text-align: center;
  border: 1.5px solid var(--color-icon-border);
  overflow: hidden;
  font-size: 25px;
  font-weight: 800;
  color: var(--color-icon-border);
  user-select: none;
}
.center{
  
}